*
  font-family 'Open Sans', sans-serif
  box-sizing border-box

.container
  display flex
  flex-flow column
  &._wrapper
    padding 0 30px
    justify-content flex-start

  &._main
    min-height 100vh

    .os-header
      flex 0 0 auto
    .os-main
      flex 1 0 auto
    .os-footer
      flex 0 0 auto

.os-main
  min-height 100%

