lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env
.ecosystem.config.js
LICENSE

# Dependency directory
node_modules
bower_components

# Editors
.idea
.vscode
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Ignore schema.gql file
schema.gql

#lock-files
package-lock.json
