@import './../../static/styles/variables.styl'

.auth
  &__title
    font-size 28px
    color $mainColor
    text-align center
    margin-bottom 20px
  &__text
    color $mainColor
    margin-bottom 30px
    text-align center

  &__google
    color #c27467
    border 1px #c27467 solid
    width 100%
    border-radius 12px
    font-size 20px
    height 40px
    text-align center
    line-height 34px
    display block
    transition-duration .3s

    &:hover
      color $w
      background-color #c27467