.profile
  display flex
  align-items center
  margin-left 55px
  &__name
    opacity .9
    margin-right 20px 
  &__photo
    background white
    width 30px
    height 30px
    border-radius 100%
    overflow hidden
  &__list
    display none