head
  title= title
  link(rel='stylesheet' href='/css/main.bundle.css')
  meta(name='theme-color' content='#1F324B')
  meta(name='msapplication-navbutton-color' content='#1F324B')
  meta(name='apple-mobile-web-app-status-bar-style' content='#1F324B')
