@import 'nib'
@import 'rupture'
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap')

global-reset()

*
  font-family 'Lato', sans-serif
  font-size 400
  box-sizing border-box

a
  color inherit
  text-decoration inherit