header#os-header
  ul
    li
      a(href='/about') О нас
    li
      a(href='/maps') Карты
    li
      a(href='news') Статьи
    
    if authorised
      li
        a(href='#') Евгений Мазуров
    else
      li
        a(href='#') Войти
    