.os-header
  padding 20px 30px
  width 100%
  display flex
  justify-content space-between
  color white
  background-color #1F324B

  &__logo
    font-size 1.2em
    color inherit 
    text-transform uppercase
    text-decoration none