header#os-header.os-header._transparent
  
  a.os-header__logo(href='/')= title
  nav.os-nav
    ul.os-nav__list
      li.os-nav__elem
        a.os-nav__link(href='/about') О нас
      li.os-nav__elem
        a.os-nav__link(href='/maps') Карты
      li.os-nav__elem
        a.os-nav__link(href='/news') Статьи

    if authorised
      a.os-profile(href='#') Евгений Мазуров
    else
      button.os-button Войти
    