.os-nav
  display flex
  &__list
    list-style-type none
    display flex
    width 100%
    justify-content space-around
    align-items center
    margin 0
    max-width 70vw
  
  &__elem
    margin 0

  &__link
    color inherit 
    text-decoration none